@font-face {
  font-family: Radiance;
  src: url("radiance-regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Radiance;
  src: url("radiance-ultralight.otf");
  font-weight: 200;
}
@font-face {
  font-family: Radiance;
  src: url("radiance-light.otf");
  font-weight: 300;
}

@font-face {
  font-family: Radiance;
  src: url("radiance-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Radiance;
  src: url("radiance-regularitalic.otf");
  font-style: italic;
}

@font-face {
    font-family: Reaver;
    src: url('reaver-regular.otf');
}

@font-face {
    font-family: Reaver;
    src: url('reaver-light.otf');
    font-weight: 300;
}

@font-face {
    font-family: Reaver;
    src: url('reaver-bold.otf');
    font-weight: 700;
}

